h1 {
    color: rgb(80, 80, 134);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
    border: 2px solid #d7c4c4;
    border-style: outset;
    padding: 20px;
    background-color: hsl(0, 60%, 83%);
    border-radius: 20px;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
body {
    background-color: rgb(219, 208, 208);
}
h2 {
    color: rgb(134, 80, 80);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
}
h3 {
    color: rgb(80, 134, 80);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    margin-top: 20px;
    margin-left: 20px;

}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    color: rgb(50, 50, 50);
    font-weight: bold;
}
a {
    color: rgb(20, 20, 111);
    text-decoration: none;
    font-weight: bold;

}
a:hover {
    
    text-decoration: underline;
    color: rgb(6, 63, 29);
}
ul,ol {
    list-style-type: square;
    margin-left: 40px;
    color: rgb(144, 0, 136);
    font-weight: bold;
    border: 2px solid #b853a0;
    border-radius: 20px;
    padding: 15px;
    background-color: #ffe6ff;
    width: 60%;
    margin: auto;
    text-align: left;
    text-transform: capitalize;
    
   
}
ul:hover, ol:hover {
    box-shadow: 7px 7px 18px rgba(182, 150, 150, 0.8);
}
article {
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
     transition: 0.2s ease;
}
article:hover {
  background-color: #f2faff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);

}
footer{
    text-align: center;
    padding: 10px;
    background-color: #d1d1d1;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(60, 60, 60);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);}